.footer{
    background:#0f61e0 ;
    text-align: center;
    width: 100%;
    height: 140px;
    margin-top:2rem;
}

.footer a {
    padding-top:10px;
    color: white;
}

.footer a:hover{

    color: rgb(197, 64, 250)!important;
}

.pixabay a,
.pixabay span{
    font-size: 0.8rem!important;
    text-decoration: none;
}

.pixabay span{
    font-weight: 600;
}

