.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200px;
    height: auto;
    margin-right:13px;
    transition: all 300ms;
    margin-bottom:2rem;
}

.card span {
    background-color: rgb(238, 232, 231);
    margin-top:1rem;
    padding: 0.3rem 1rem;
    border-radius: 15px;
    text-align: center;
    transition: all 300ms;
}

.card span:hover{
    background: rgb(250, 219, 250);
}
.card:hover{
    transform: scale(1.05)
}

