.main{
    max-width: 80%;
    margin: auto;
    font-size: 1rem;
}

.title{
    font-size: 1.5rem;
    padding-top:1rem;
}

.subTitle{
    font-size: 0.8rem;
}

.content{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    flex-wrap: wrap;
    row-gap: 2rem;
}

.card{
    border: 1px solid #000;
    border-radius:5px;
    max-width:45%;
    min-width:15rem;
}

.h2{
    font-size:1rem!important;
}
