.main{
    max-width: 80%;
    margin: auto;
    font-size: 1rem;
    height:100%!important;
    min-height: 100%;
	display: flex;
	flex-direction: column;
	min-height: 75vh;
}

.title{
    font-size: 1.5rem;
    padding-top:1rem;
}

.subTitle{
    font-size: 0.8rem;
}

.content{
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 3rem;;

}

.card{
    border: 1px solid #000;
    border-radius:5px;
    max-width: 20rem!important;
    min-width:15rem;
    transition: all 300ms;
    background: linear-gradient(white, rgba(15, 97, 224,0.6))
}

.card:hover{
    transform: scale(1.03);
}

.card a{
    color: #fff;
    text-decoration: none;
}

.card a:hover{
    color: #000;
}

.h2{
    font-size:1rem!important;
}

.blog{
    max-width: 20rem;
    margin: 4rem auto;
    
}