.main{
    max-width: 65%;
    margin: auto;
    font-size: 1rem;
    
}
.main p {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 600;
}

.main div{
    background: linear-gradient(white, rgba(15, 97, 224,0.6));
    border-color: rgb(179, 173, 173)!important;
}

.main a {
    text-decoration: none;
    font-weight: 600;;
}

.main a:hover{
    color: white;
}