.main{
    max-width: 65%;
    margin: auto;
    font-size: 1rem;
    height: 100%;
	min-height: 75vh;
    max-height: 100%;
	display: flex;
	flex-direction: column;
}

.main p {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 600;
}

.main div{
    background: linear-gradient(white, rgba(15, 97, 224,0.6));
    border-color: rgb(179, 173, 173)!important;
}

.main a {
    text-decoration: none;
    font-weight: 600;;
}

.main a:hover{
    color: white;
}

.card {
    margin: auto;
    border: 1px solid grey;
    max-width: 19rem;
    margin-top:5rem;
    padding: 2rem;
    margin-bottom:5rem;
}

@media screen and (max-width:500px) {
    .cardContact{
        display: flex;
        flex-direction: row;
    }
}